@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    padding: 2.0em;
}
header nav{
    padding-bottom: 45px;
    padding-right: 10%;
}
header nav > a {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 15px;
    float: right;
}
body{
    background-color: black;
}
div.blackf img{
    width: 100%;
}
.cadastro{
    background-color: black;
    text-align: center;
}
